@import url('reset.css');

root { 
    display: block;
}

body{
    margin:0 auto;
    line-height: 19px;
    font-size: 16px;
    font-family:Times;
}
h1{
    font-size:40px;
    font-weight:bold;
    line-height:56px;
    margin:20px;
}
#pagecontainer{
    margin:0 auto;
    width:640px;
    margin-top:30px;
    padding:30px;
    text-align:center;
}
form{
    text-align:left;
    width:250px;
    border:1px solid lightgray;
    padding:10px;
    padding-right:5px;
    font-size:18px;
    margin:0 auto;
    margin-top:20px;
}
form div input{
    font-size:15px;
    margin:0;
    padding:0;
    padding-left:3px;
    border:1px solid green;                
    margin-left:10px;
    width:165px;
}
.lfloat{ 
    float:left;     
}
.r{   
    text-align:right;
}
.submit{ 
    margin:10px;
    width:230px; 
    font-size: 18px;
    font-weight: bold;
}
